<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row justify-content-around pt-5">
        <div class="col-4 shadow card">
            <p class="h2">Alumnos:</p>
            <app-crud-alumno></app-crud-alumno>
        </div>
        <div class="col-4 shadow card">
            <p class="h2">Profesor:</p>
            <app-crud-profesor></app-crud-profesor>
        </div>
    </div>
    <div class="row justify-content-around py-5">
        <div class="col-4 shadow card">
            <p class="h2">Materia:</p>
            <app-crud-materia></app-crud-materia>
        </div>
        <div class="col-4 shadow card">
            <p class="h2">Grupo: </p>
            <app-crud-grupo></app-crud-grupo>
        </div>
    </div>
    <div class="row justify-content-around py-5">
        <div class="col-4 shadow card">
            <p class="h2">Libro:</p>
            <app-crud-libro></app-crud-libro>
        </div>
    </div>
</div>