<div class="card" style="margin-top: 15px">
    <div class="card-body"*ngIf="usuario.tipo =='Estudiante'">
        <i class="far fa-file-alt"></i><a class="activity-link ph-2" routerLink="/actividad/{{usuario.id}}/{{actividad.id_actividad}}"> {{actividad.titulo}}</a>
        <p class="card-text">
            Fecha entrega:
            <span>{{actividad.fecha_limite | date}}</span>
        </p>
    </div>
    <div class="card-body"*ngIf="usuario.tipo =='Profesor'">
        <i class="far fa-file-alt"></i><a class="activity-link ph-2" routerLink="/editaractividad/{{actividad.id_actividad}}"> {{actividad.titulo}}</a>
        <p class="card-text">
            Fecha entrega:
            <span>{{actividad.fecha_limite | date}}</span>
        

        </p>
        <button *ngIf="usuario.tipo == 'Profesor'" style="background-color: #942646;" class="btn btn-primary" (click)="borrar()">Borrar actividad</button>
    </div>

</div>