<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 5px;">
  <div class="row justify-content-between">
    <div class="col-4">
      <app-calendario></app-calendario>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body">

          <table class="table ">
            <thead>
              <tr>
                <th scope="col">
                  <h4 class="card-title">actividades</h4>
                </th>
              </tr>
              <tr id="encabezado">
                  <td>Actividad</td>
                  <td>Estado entrega</td>
                  <td>Calificación</td>
             
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let act of actividades">
                <td><a routerLink="/actividad/{{usuario}}/{{act.id_actividad}}">
                    <span class="navbar-text mr-4">{{act.titulo}}</span></a></td>
                <td *ngIf="act.estado_entrega== 0"> No entregada</td>
                <td *ngIf="act.calificacion ==null">No calificada</td>
                <td *ngIf="act.estado_entrega== 1"> Entregada</td>
                <td *ngIf="act.calificacion !=null">{{act.calificacion}}</td>
              </tr>
        
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>