<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 5px;">
  <div class="row justify-content-between">
    <div class="col-4">
      <app-calendario [actividades]="actividades"></app-calendario>
    </div>
    <div class="col-8">
      <div *ngIf="curso | async" class="card">
        <div class="card-body">
          <h4 class="card-title">{{(curso | async)?.nombre}}</h4>
          {{(curso | async)?.campo}}
          <div *ngIf="auth.userData.tipo === 'Profesor'; else alumno">
            <div class="row justify-content-between">
              <div class="col-8">
                <button type="button" style="background-color: #942646;" class="btn btn-primary" (click)="routerActivity()">Crear actividad</button>
                <a style="background-color: #942646;" class="btn btn-primary ml-5" routerLink="/añadirarchivos/{{materia}}/{{auth.userData.id}}">Añadir Archivo</a>
                <a style="background-color: #942646; margin: 10px;" class="btn btn-primary" routerLink="/archivos/{{materia}}/{{auth.userData.id}}">Ver recursos de apoyo</a>
              </div>
            </div>
          </div>

          <ng-template #alumno>
            <div class="row justify-content-between">
              <div class="col-8">
                <a style="background-color: #942646; margin: 10px;" class="btn btn-primary" routerLink="/archivos/{{materia}}/{{(prof | async)?.id}}">Ver recursos de apoyo</a>
                <a style="background-color: #942646;" class="btn btn-primary" routerLink="/calificaciones/{{materia}}">Ver calificaciones</a>
                
              </div>
            </div>
          </ng-template>

  

          <hr>
          <br />
          <p class="card-text">
          <div *ngFor="let actividad of actividades">
            <app-actividad-card [usuario]="auth.userData" [actividad]="actividad"></app-actividad-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>