<app-navbar></app-navbar>
<div class="container-fluid" style="margin: 30px;">
    <div class="row m-5">
        <div class="col-4">
            <label><h3>Buscar</h3></label>
            <input #termino (keyup.enter)= "buscar(termino.value)" type="text"  class="form-control" placeholder="ID Materia">
        </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-8">
        <form [formGroup]="modMateria" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="InputID">ID</label>
                <input type="text" class="form-control" id="InputID" formControlName="id" readonly value="{{( materia | async)?.id}}">
            </div>
        
            <div class="form-group">
                <label for="NombreMateria">Nombre</label>
                <input type="text" class="form-control" id="nombreMateria" formControlName="nombre"  value="{{( materia | async)?.nombre}}">
            </div>
        
            <div class="form-group">
                <label for="CampoMateria">Campo</label>
                <input type="text" class="form-control" id="CampoMateria" formControlName="campo"  value="{{(materia | async)?.campo}}">
            </div>
        
            <div class="form-group">
                <label for="GradoMateria">Grado de la materia</label>
                <input id="GradoMateria" class="form-control" list="gradoMat" formControlName="nivel"  value="{{(materia| async)?.nivel}}">
                <datalist id="gradoMat">
                    <option value="1">
                    <option value="2">
                    <option value="3">
                    <option value="4">
                    <option value="5">
                    <option value="6">
                </datalist>
            </div>
        
            <button type="submit" class="btn btn-primary mb-2">Ingresar Datos</button>
            <a class="btn btn-danger mb-2 ml-3" (click)="borrar()">Borrar</a>
        </form>
      </div>
    </div>
  </div>
