<form [formGroup]="AltaProfesor" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="IDProfe">ID:</label>
    <input type="text" class="form-control" id="IDProfe" maxlength="10" placeholder="Ingresa ID" formControlName="id">
  </div>
  
  <div class="form-group">
    <label for="NombreProfesor">Nombre</label>
    <input type="text" class="form-control" id="NombreProfesor" maxlength="50" placeholder="Ingresa nombre" formControlName="nombre">
  </div>

  <div class="form-group">
    <label for="ProfesorApellidoPat">Apellido Paterno</label>
    <input type="text" class="form-control" maxlength="25" id="ProfesorApellidoPat" placeholder="Ingresa apellido paterno" formControlName="paterno">
  </div>

  <div class="form-group">
    <label for="ProfesorApellidoMat">Apellido Materno</label>
    <input type="text" class="form-control" id="ProfesorApellidoMat" maxlength="25" placeholder="Ingresa apellido materno" formControlName="materno">
  </div>

  <div class="form-group">
    <label for="TelefonoProfesor">Teléfono:</label>
    <input type="text" maxlength="10" class="form-control" id="TelefonoProfesor" placeholder="Ingresa un número telefónico" formControlName="telefono">
  </div>

  <div class="form-group">
    <label for="CorreoProfesor">Correo electrónico:</label>
    <input type="email" class="form-control" id="CorreoProfesor" maxlength="50" placeholder="Ingresa un correo electrónico" formControlName="correo">
  </div>

  <div class="form-group">
    <label for="SexoProfesor">Sexo</label>
    <input class="form-control" id="SexoProfesor" list="SexoProfe" formControlName="sexo">
    <datalist id="SexoProfe">
      <option value="F">
      <option value="M">
    </datalist>
  </div>


  <div class="form-group">
    <label for="ContraProfesor">Contraseña</label>
    <input type="password" class="form-control" id="ContraProfesor" maxlength="15" placeholder="Ingresa Contraseña" formControlName="password">
  </div>

  <button type="submit" class="btn btn-primary mb-2">Ingresar Datos</button>
</form>