<form [formGroup]="AltaProfesor">
  <div class="form-group">
    <label for="NombreProfesor">Nombre</label>
    <input type="text" class="form-control" id="NombreProfesor" placeholder="Ingresa nombre">
  </div>

  <div class="form-group">
    <label for="ProfesorApellidoPat">Apellido Paterno</label>
    <input type="text" class="form-control" id="ProfesorApellidoPat" placeholder="Ingresa apellido paterno">
  </div>

  <div class="form-group">
    <label for="ProfesorApellidoMat">Apellido Materno</label>
    <input type="text" class="form-control" id="ProfesorApellidoMat" placeholder="Ingresa apellido materno">
  </div>

  <div class="form-group">
    <label for="TelefonoProfesor">Teléfono:</label>
    <input type="text" maxlength="10" class="form-control" id="TelefonoProfesor" placeholder="Ingresa un número telefónico">
  </div>

  <div class="form-group">
    <label for="CorreoProfesor">Correo electrónico:</label>
    <input type="email" class="form-control" id="CorreoProfesor" placeholder="Ingresa un correo electrónico">
  </div>

  <div class="form-group">
    <label for="SexoProfesor">Sexo</label>
    <input class="form-control" id="SexoProfesor" list="SexoProfe">
    <datalist id="SexoProfe">
      <option value="F">
      <option value="M">
    </datalist>
  </div>


  <div class="form-group">
    <label for="ContraProfesor">Contraseña</label>
    <input type="password" class="form-control" id="ContraProfesor" placeholder="Ingresa Contraseña">
  </div>

  <button type="submit" class="btn btn-primary mb-2">Ingresar Datos</button>
</form>