<nav class="navbar navbar-dark" style="background-color: #0c231e;">
  <span class="navbar-text">
    <img src="../../../assets/logo_chiquito.png" width="50px" height="50px">
    <a class="logo_link" routerLink="/login" style="color: #DBC9A7">Aula Virtual SEP</a>
  </span>
  <span *ngIf="auth.userData == undefined; else ingresado" class="navbar-text">Usted no ha ingresado</span>
  <ng-template #ingresado>
    <div>
      <a routerLink="/perfil">
        <span
          class="navbar-text mr-4">{{auth.userData.nombre + " " + auth.userData.apellidoPat + " " + auth.userData.apellidoMat}}</span></a>
      <a (click)="logOut()"><span class="navbar-text"><i class="fas fa-sign-out-alt"></i></span></a>
    </div>
  </ng-template>
</nav>