<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 15px;">
    <div class="row justify-content-between">
        <div class="col-4">
            <app-calendario></app-calendario>
        </div>
        <div class="col-8">
            <p class="h2" *ngIf="actividadData && alumnoData">{{actividadData.titulo}}:<br><br>{{alumnoData.nombre}} {{alumnoData.apellido_pat}} {{alumnoData.apellido_mat}}</p>
            <ul class="list-group mt-3" *ngFor="let archivo of archivos">
                <li class="list-group-item"><a href="http://localhost:3000/getfile/{{archivo.archivo}}" target="_blank">{{archivo.archivo}}</a></li>
            </ul>
            <div class="row container mt-5">
                <div class="col-12">
                    <form [formGroup]="calificar" (ngSubmit)="onSubmit()">
                        <div class="form-inline">
                            <label for="formGroupExampleInput">Asignar calificación:</label>
                            <input type="number" min="0" max="10" step="0.01" class="form-control ml-2 w-25" id="formGroupExampleInput"
                                placeholder="Calificación" formControlName="calificacion">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Comentario:</label>
                            <textarea id="formGroupExampleInput2" class="form-control" rows="10" formControlName="comentario"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary" [disabled]="!calificar.valid">Calificar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>