<app-navbar></app-navbar>

<div class="container-fluid" style="margin: 30px;">
    <div class="row m-5">
        <div class="col-4">
            <label><h3>Buscar</h3></label>
            <input #termino (keyup.enter)= "buscar(termino.value)" type="text"  class="form-control" placeholder="ID Libro">
        </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-8">
        <form [formGroup]="modLibro">
            <div class="form-group">
              <label for="InputID">Id del Libro</label>
              <input type="text" class="form-control" id="LibroID" placeholder="Ingresa ID" readonly value="{{(libro| async)?.id}}">
            </div>
          
            <div class="form-group">
              <label for="InputTitle">Título</label>
              <input type="text" class="form-control" id="InputTitle" value="{{(libro| async)['título']}}">
            </div>
          
            <div class="form-group">
              <label for="InputYear">Año del libro</label>
            <input type="text" class="form-control" id="InputYear" value="{{(libro| async)['año']}}">
            </div>
          
            <div class="form-group">
              <label for="InputEditiorial">Editorial</label>
              <input type="text" maxlength="10" class="form-control" id="InputEditiorial" value="{{(libro| async)['editorial']}}">
            </div>
          
            <div class="form-group">
              <label for="InputIDMateria">ID de la materia</label>
              <input class="form-control" id="InputIDMateria" list="materiasLibro" placeholder="Ingresa ID de la materia" value="{{(libro| async)['id_materia']}}">
              <datalist id="materiasLibro">
                <option *ngFor="let mat of materias" value="{{mat.id}}">{{mat.nombre}}</option>
              </datalist>  
            </div>

            <div class="form-group">
              <label for="LibroArchivo">Subir archivo o link:</label>
              <input type="text" name="LibroArchivo" class="form-control" id="LibroArchivo" formControlName="archivo"  value="{{(libro| async)['archivo']}}">
            </div>
          
            <button type="submit" class="btn btn-primary mb-2">Ingresar Datos</button>
          </form>
      </div>
    </div>
  </div>