<form [formGroup]="AltaMateria">

    <div class="form-group">
        <label for="InputID">ID</label>
        <input type="text" class="form-control" id="InputID" placeholder="Ingresa ID">
    </div>

    <div class="form-group">
        <label for="InputGrado">Nombre</label>
        <input type="text" class="form-control" id="InputGrado" placeholder="Ingresa Grado">
    </div>

    <div class="form-group">
        <label for="InputClase">Campo</label>
        <input type="text" class="form-control" id="InputClase" placeholder="Ingresa Clase">
    </div>

    

    <button type="submit" class="btn btn-primary mb-2">Ingresar Datos</button>
</form>