<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 5px;">
  <div class="row justify-content-between">
    <div class="col-4">
      <app-calendario></app-calendario>
    </div>
    <div class="col-8">
      <div *ngIf="curso | async" class="card">
        <div class="card-body">
          <h4 class="card-title">{{(curso | async)?.nombre}}</h4>
          {{(curso | async)?.campo}}

            <div class="row justify-content-between">
              <div class="col-8">
                <a style="background-color: #942646; margin: 10px;" class="btn btn-primary" routerLink="/curso/{{(grupo | async)?.id}}/{{materia}}">Volver</a>
 
              </div>
            </div>

          <hr>
          <br />
          <p class="card-text">
          <div *ngFor="let rec of archivos">
            <app-archivo-card [usuario]="auth.userData" [archivo]="rec"></app-archivo-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>