<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 5px;">
  <div class="row justify-content-between">
    <div class="col-4">
      <app-calendario></app-calendario>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body">

          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">
                  <h4 class="card-title">{{actividad.titulo}}</h4>
                </th>
                <th *ngIf="this.auth.userData.tipo === 'Profesor'"><a style="background-color: #942646;" class="btn btn-primary" routerLink="/editaractividad/{{this.act}}">Editar actividad</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <p class="card-text">{{actividad['descripción']}}</p>
                </td>
              </tr>
              <tr>
                <td>Fecha Límite:</td>
                <td>Fecha Entrega:</td>
                <td>Calificación:</td>
              </tr>
              <tr>
                <td>
                  {{actividad.fecha_limite | date}} {{actividad.hora_limite}}
                </td>
                <td>
                  
                    <p *ngIf="!actividad.estado_entrega; else entregada" class="alert alert-danger">No Entregada</p>
                    <ng-template #entregada>
                      <p class="alert alert-success">{{actividad.fecha_entrega | date}} {{actividad.hora_entrega}}</p>
                    </ng-template>
                </td>
                <td>
                  <p *ngIf="!actividad.estado_entrega; else esperar" class="alert alert-danger">No calificada</p>
                  <ng-template #esperar>
                    <p *ngIf="!actividad.calificacion else calificada" class="alert alert-danger">Esperando calificación</p>
                  </ng-template>
                  <ng-template #calificada>
                    <p *ngIf="actividad.calificacion > 8; else medio" class="alert alert-success">{{actividad.calificada}}</p>
                  </ng-template>
                    <ng-template #medio>
                      <p *ngIf="actividad.calificacion > 6; else bajo" class="alert alert-warning">{{actividad.calificada}}</p>
                    </ng-template>
                    <ng-template #bajo>
                      <p class="alert alert-danger">{{actividad.calificada}}</p>
                    </ng-template>
                  
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-12 pb-5">
              <ul class="list-group" *ngFor="let archivo of archivos">
                <li class="list-group-item"><a href="http://localhost:3000/getfile/{{archivo.archivo}}" target="_blank">{{archivo.archivo}}</a></li>
              </ul>
          </div>
          <div *ngIf="auth.userData.tipo == 'Estudiante'">
          <div *ngIf="!actividad.estado">
            <div *ngIf="!actividad.estado_entrega; else editar">
              <a style="background-color: #942646;" class="btn btn-primary btn-lg"
                routerLink="/entrega/{{a}}/{{act}}">Realizar Entrega</a>
            </div>
            <ng-template #editar><a style="background-color: #942646;" class="btn btn-primary btn-lg"
                routerLink="/editar/{{a}}/{{act}}">Editar Entrega</a></ng-template>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>