<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 5px;">
  <div class="row justify-content-between">
    <div class="col-4">
      <app-calendario></app-calendario>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body">

          <table class="table table-borderless">

          </table>

          <h4 class="card-title">{{actividad.titulo}}</h4>
          <p class="card-text">{{actividad['descripción']}}</p>
          <p class="card-text">
            Fecha límite: {{actividad.fecha_limite | date}} | Fecha entrega: {{actividad.fecha_entrega | date}}
          </p>
          <div *ngIf="!actividad.estado">
            <div *ngIf="!actividad.estado_entrega; else editar">
              <a style="background-color: #942646;" class="btn btn-primary btn-lg" routerLink="/entrega/{{a}}/{{act}}">Realizar Entrega</a>
            </div>
            <ng-template #editar><a style="background-color: #942646;" class="btn btn-primary btn-lg" routerLink="/editar/{{a}}/{{act}}">Editar Entrega</a></ng-template>
          </div>
          <p class="card-text">
            
          <div *ngIf="auth.userData.tipo == 'Estudiante'">
            Calificación:
            <div *ngIf="actividad.calificacion > 8; else medio">
              <span class="text-success">{{actividad.calificacion}}</span>
            </div>
            <ng-template #medio>
              <span *ngIf="actividad.calificacion > 6; else bajo" class="text-warning">{{actividad.calificacion}}</span>
            </ng-template>
            <ng-template #bajo>
              <span class="text-danger">{{actividad.calificacion}}</span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>