<div class="card" style="margin-top: 15px">
    <div class="card-body"*ngIf="usuario.tipo =='Estudiante'">
        <i class="far fa-file-alt"></i><a href="http://localhost:3000/getfile/{{archivo.archivo}}" target="_blank">  {{archivo.titulo}}</a>
    </div>
    <div class="card-body"*ngIf="usuario.tipo =='Profesor'">
        <i class="far fa-file-alt"></i><a href="http://localhost:3000/getfile/{{archivo.archivo}}" target="_blank">  {{archivo.titulo}}</a>
        <button *ngIf="usuario.tipo == 'Profesor'" style="background-color: #942646;" class="btn btn-primary" (click)="borrar()" >Borrar recurso</button>
    </div>

</div>