<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-4">
            <app-calendario></app-calendario>
        </div>
        <div class="col-8">
            <p class="h4">Profesor: {{info.nombre}} {{info.apellido_pat}} {{info.apellido_mat}} - Grupo: {{info.grado}}º-{{info.clase}}</p>
            <div *ngIf="cursos">
                <div *ngFor="let x of cursos">
                    <app-curso-card [grupo]="info.id" [curso]="x"></app-curso-card>
                </div>
            </div>
        </div>
    </div>
</div>