<form [formGroup]="AltaAlumno">
  <div class="form-group">
    <label for="NombreAlumno">Nombre</label>
    <input type="text" class="form-control" id="NombreAlumno" placeholder="Ingresa nombre">
  </div>

  <div class="form-group">
    <label for="ApellidoPatAlumno">Apellido Paterno</label>
    <input type="text" class="form-control" id="ApellidoPatAlumno" placeholder="Ingresa apellido paterno">
  </div>

  <div class="form-group">
    <label for="ApellidoMatAlumno">Apellido Materno</label>
    <input type="text" class="form-control" id="ApellidoMatAlumno" placeholder="Ingresa apellido materno">
  </div>

  <div class="form-group">
    <label for="SexoAlumno">Sexo</label>
    <input id="SexoAlumno" class="form-control" list="sexo">
    <datalist id="sexo">
      <option value="F">
      <option value="M">
    </datalist>
  </div>

  <div class="form-group">
    <label for="ContraAlumno">Contraseña</label>
    <input type="password" class="form-control" id="ContraAlumno" placeholder="Ingresa Contraseña">
  </div>

  <div class="form-group">
    <label for="GrupoAlumno">Grupo</label>
    <input id="GrupoAlumno" class="form-control" list="grupo">
    <datalist id="grupo">
      <option value="F">
      <option value="M">
    </datalist>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Ingresar Datos</button>
</form>