<form [formGroup]="AltaAlumno" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="IDAlumno">ID</label>
    <input type="text" class="form-control" id="IDAlumno" placeholder="Ingresa id" maxlength="10" formControlName="id">
  </div>
  <div class="form-group">
    <label for="NombreAlumno">Nombre</label>
    <input type="text" class="form-control" id="NombreAlumno" maxlength="50" placeholder="Ingresa nombre" formControlName="nombre">
  </div>

  <div class="form-group">
    <label for="ApellidoPatAlumno">Apellido Paterno</label>
    <input type="text" class="form-control" id="ApellidoPatAlumno" maxlength="25" placeholder="Ingresa apellido paterno" formControlName="paterno">
  </div>

  <div class="form-group">
    <label for="ApellidoMatAlumno">Apellido Materno</label>
    <input type="text" class="form-control" id="ApellidoMatAlumno" maxlength="25" placeholder="Ingresa apellido materno" formControlName="materno">
  </div>

  <div class="form-group">
    <label for="SexoAlumno">Sexo</label>
    <input id="SexoAlumno" class="form-control" list="sexo" formControlName="sexo">
    <datalist id="sexo">
      <option value="F">
      <option value="M">
    </datalist>
  </div>

  <div class="form-group">
    <label for="ContraAlumno">Contraseña</label>
    <input maxlength="15" type="password" class="form-control" id="ContraAlumno" placeholder="Ingresa Contraseña" formControlName="password">
  </div>

  <div class="form-group">
    <label for="GrupoAlumno">Grupo</label>
    <input id="GrupoAlumno" class="form-control" list="grupo" formControlName="grupo">
    <datalist id="grupo">
      <option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.grado}} - {{grupo.clase}}</option>
    </datalist>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Ingresar Datos</button>
</form>