<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 5px;">
    <form [formGroup]="editarForm"></form>
    <div class="row justify-content-between">
        <div class="col-4">
            <app-calendario></app-calendario>
        </div>
        <div class="col-8 card">
            <h4 class="Card-title">Editar actividad</h4>
            <div class="form-group">
                <label for="text">Título de la actividad:</label>
                <input type="text" class="form-control" formControlName="titulo" >
            </div>
            <div class="form-inline justify-content-around">
                <div class="form-group mx-auto">
                    <label for="date">Fecha límite:</label>
                    <input type="date" class="form-control" formControlName="fechaLim">
                </div>
                <div class="form-group mx-auto">
                    <label for="time">Hora límite:</label>
                    <input type="time" class="form-control" formControlName="horaLim">
                </div>
            </div>
            <div class="form-group mx-auto">
                <label>Abrir Tarea: </label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="radio" name="retraso" value="si" formControlName="retraso"> Si
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="retraso" value="no" formControlName="retraso"> No
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="textarea">Descripción:</label>
                <textarea cols="30" rows="10" class="form-control" formControlName="descripción"></textarea>
            </div>

        </div>
    </div>
    
    <div class="row justify-content-center mt-4">
        <div class="col-4"></div>
        <div class="col-8">
            <div class="row card justify-content-center">
                <div class="col-sm-12">
                    <h4>Selecciona archivos para cargar</h4>
                    <hr>
                    <div id="fileSelector">
                        <input type="file" name="fileUpload" id="fileUpload" multiple ng2FileSelect
                            [uploader]="uploader">
                    </div>
                </div>
                <div>
                    <div class="row uploadList justify-content-around" *ngFor="let item of uploader.queue; index as i">
                        <div class="col-sm-4">{{item.file.name}}</div>
                        <div class="col-sm-4">
                            <div class="progress">
                                <div class="progress-bar" style="background-color: #942646;"
                                    [ngStyle]="{width: item.progress+'%'}" aria-valuemin="0" aria-valuemax="100"
                                    [attr.aria-valuenow]="item.progress">
                                    <span style="color: white;">{{item.progress}}%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-dark" *ngIf="item.progress < 100" (click)="item.upload()">Subir
                                archivo</button>
                            <button class="btn btn-danger" (click)="deleteFile(item, i)">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-4"></div>
        <div class="col-8">
            <div class="row card">
                <div class="col-12">
                    <h4>Archivos de actividad para borrar</h4>
                    <hr>
                </div>
                <button type="submit" style="background-color: #942646; color: white;" [disabled]="!editarForm.valid"
                    class="btn btn-block btn-lg">Editar actividad</button>
            </div>
        </div>
    </div>
    <form [formGroup]="editarForm"></form>
</div>