<form [formGroup]="AltaGrupo" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="GrupoID">ID</label>
        <input type="text" class="form-control" id="GrupoID" formControlName="id" placeholder="Ingresa ID">
    </div>

    <div class="form-group">
        <label for="GradoGrupo">Grado</label>
        <input type="number" min="1" max="6" step="1" class="form-control" maxlength="1" id="GradoGrupo" formControlName="grado" placeholder="Ingresa Grado">
    </div>

    <div class="form-group">
        <label for="ClaseGrupo">Clase</label>
        <input type="text" maxlength="1" class="form-control" id="ClaseGrupo" formControlName="clase" placeholder="Ingresa Clase">
    </div>

    <div class="form-group">
        <label for="InputGrado">Profesor</label>
        <input class="form-control" list="profesor" formControlName="profesor">
        <datalist id="profesor">
            <option *ngFor="let profe of profesores" value="{{profe.id}}">
        </datalist>
    </div>
    <div class="form-group">
        <label for="CicloInGrupo">Ciclo inicio</label>
        <input type="number" min="2000" max="3000" step="1" class="form-control" maxlength="1" id="CicloInGrupo" formControlName="ciclo_inicio" placeholder="Ingresa Ciclo inicio">
    </div>

    <div class="form-group">
        <label for="CicloFinGrupo">Ciclo final</label>
        <input type="number" min="2000" max="3000" step="1" class="form-control" maxlength="1" id="CicloFinGrupo" formControlName="ciclo_final" placeholder="Ingresa Ciclo final">
    </div>



    <button type="submit" class="btn btn-primary mb-2" [disabled]="!AltaGrupo.valid">Ingresar Datos</button>
</form>