<nav  class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div  class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <div *ngIf="auth.userData.tipo == 'Estudiante'; else profe">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Inicio</a>
                </li>
            </div>
            <ng-template #profe>
                <li class="nav-item active">
                    <a class="nav-link" href="/homeTeacher">Inicio</a>
                </li>
            </ng-template>
       
            <li class="nav-item active">
                <a class="nav-link" href="/cursos">Cursos</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="#">Tutorías</a>
            </li>
        </ul>
        <div *ngIf="alumno | async">
            <a routerLink="/perfil">
              <span
                class="navbar-text mr-4">{{(alumno | async)?.nombre + " " + ((alumno | async))?.apellido_pat + " " + ((alumno | async))?.apellido_mat}}</span></a>
                <a (click)="logOut()"><span class="navbar-text"><i class="fas fa-sign-out-alt"></i></span></a>
          </div>
    </div>
</nav>