<nav  class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div  class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          
                <li class="nav-item active" *ngIf="auth.userData.tipo == 'Estudiante'">
                    <a class="nav-link" href="/home">Inicio</a>
                </li>
                <li class="nav-item active" *ngIf="auth.userData.tipo == 'Estudiante'">
                    <a class="nav-link" href="/cursos">Cursos</a>
                </li>
                <li class="nav-item" *ngIf="auth.userData.tipo == 'Estudiante'">
                    <a class="nav-link" routerLink="/tutoria">Tutorías</a>
                </li>
                <li class="nav-item" *ngIf="auth.userData.tipo == 'Estudiante'">
                    <a class="nav-link" routerLink="/libro">Libros</a>
                </li>
           
                <li class="nav-item active"  *ngIf="auth.userData.tipo =='Profesor'">
                    <a class="nav-link" href="/homeTeacher">Inicio</a> 
                </li>
                <li class="nav-item active"  *ngIf="auth.userData.tipo =='Profesor'">
                    <a class="nav-link" href="/cursos">Materias</a> 
                </li>
                <li class="nav-item active"  *ngIf="auth.userData.tipo =='Profesor'">
                    <a class="nav-link" href="/grupo">Grupo</a> 
                </li>
                <li class="nav-item"*ngIf="auth.userData.tipo =='Profesor'">
                    <a class="nav-link" routerLink="/tutoria">Tutorías</a>
                </li>
                <li class="nav-item"*ngIf="auth.userData.tipo =='Profesor'">
                    <a class="nav-link"  routerLink="/libro">Libros</a>
                </li>
                <li class="nav-item active"  *ngIf="auth.userData.tipo =='Administrador'">
                    <a class="nav-link" href="/admin">Inicio</a> 
                </li>
        
                <li class="nav-item dropdown" *ngIf="auth.userData.tipo =='Administrador'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Modificar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/modmat">Materias</a> 
                        <a class="dropdown-item" href="/modgrupos">Grupos</a>
                        <a class="dropdown-item" href="/modalumnos">Alumnos</a>
                        <a class="dropdown-item" href="/modprofesor">Profesores</a>
                        <a class="dropdown-item" href="/modlibros">Libros</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown" *ngIf="auth.userData.tipo =='Administrador'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ver
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/listamat">Materias</a> 
                      <a class="dropdown-item" href="/listagrupos">Grupos</a>
                      <a class="dropdown-item" href="/listaalumnos">Alumnos</a>
                      <a class="dropdown-item" href="/listaprofesor">Profesores</a>
                      <a class="dropdown-item" href="/listalibros">Libros</a>
                    </div>
                  </li>
        </ul>
        <div *ngIf="auth.userData.tipo == 'Estudiante'">
            <a routerLink="/perfil/{{(alumno | async)?.id}}/Estudiante">
              <span
                class="navbar-text mr-4">{{(alumno | async)?.nombre + " " + ((alumno | async))?.apellido_pat + " " + ((alumno | async))?.apellido_mat}}</span></a>
                <a (click)="logOut()"><span class="navbar-text"><i class="fas fa-sign-out-alt"></i></span></a>
          </div>
        <div *ngIf="auth.userData.tipo =='Profesor'">
            <a routerLink="/perfil/{{(profesor | async)?.id}}/Profesor">
              <span
                class="navbar-text mr-4">{{(profesor | async)?.nombre + " " + ((profesor | async))?.apellido_pat + " " + ((profesor | async))?.apellido_mat}}</span></a>
                <a (click)="logOut()"><span class="navbar-text"><i class="fas fa-sign-out-alt"></i></span></a>
          </div>
        <div *ngIf="auth.userData.tipo =='Administrador'">
                <a (click)="logOut()"><span class="navbar-text"><i class="fas fa-sign-out-alt"></i></span></a>
          </div>
    </div>
</nav>