<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-4 md-auto">
            <app-calendario></app-calendario>
        </div>
        <div class="col-8 md-auto">
            <div class="row justify-content-start">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            Perfil del usuario: Aquí va el nombre del usuario
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card">
                        <div class="card-body">
                            Aquí va una pinche imágen perrona
                        </div>
                    </div>

                </div>
            </div>
            <div class="row justify-content-start mt-5">
                <div class="col-2">
                    <div class="card">
                        <div class="card-body">
                            Este es el grado del usuario
                        </div>
                    </div>

                </div>
                <div class="col-2">
                    <div class="card">
                        <div class="card-body">
                            Aquí va el grupo del usuario
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            Nombre de la institución del usuario
                        </div>
                    </div>

                </div>
            </div>
            <div class="row justify-content-start mt-5">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            Calificaciones por actividad para alumnos
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            Avance por materia
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>